In [1]:
"""Your new task will be to use this dataset and use 
attendee_id, event_id and purchase_quad as the feature columns and 
predict or recommend the the purchase_type based on your learning 
of my sent recommendation engine internet site link.

And, do lot of statistical analysis, visualization and some 
correlation check before do the recommendation or prediction 
model train. So, that purpose of prediction and feature dataset 
exploratory analysis done to do insight into dataset columns.

Attendee id is list of ids of unique attendees in the event, 
event_id is event type id, purchase_quad is time of event 
duration time divided into 4 quadrant and purchase_type is 
type of purchase done by the buyer."""

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns

In [2]:
df = pd.read_csv('./data/event_1_transactions.csv'
                 , index_col = 0
                )
df.head()

   event_id  attendee_id  order_id  purchase_quad  purchase_type
0         1       342606      3786              2              2
1         1       342606      3786              3              2
2         1       342606      3786              4              0
3         1       342606      3786              1              0
4         1       342606      3786              3              0